<a type="button" class="btn btn-primary" href="#new">
	Create Issue
</a>
<br><br>
<table class="table">
  <tbody>
    <tr>
    <th>Client Name</th>
    <th>Action Item/Request</th>
    <th>Description</th>
    <th>GH Number</th>
    <th>Priority</th>
    <th>Category</th>
    <th>Assigned To</th>
    <th>Comments</th>
    <th>Status</th>
    </tr>
  </tbody>
</table>