<article class="single">
    <header>
        <hgroup>            
        <h1>Curent issue list</h1>					
        </hgroup>
	</header>

	<div id="issues"> 
		<a type="button" class="btn btn-primary" href="<%= url_for new_issue_path %>">
			Create Issue
		</a>
		<br><br>
		<div class="container-fluid">
			<%= render :partial => 'issues/issues' %>
		</div>
	</div>

</aritcle>