<article class="single">
    <header>
        <hgroup>            
        <h1>Create New Issue</h1>				
        </hgroup>
	</header>

	<div id="issue_form" class="container"> 
  	<%= form_tag("/issues", method: "post") do %>
			<%= render :partial => 'issues/form' %>
      <button type="submit" class="btn btn-primary">Create</button>
      <%= link_to "Back to Issues", issues_path %>
  	<% end %>
	</div>
</aritcle>